<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
    ">
    
	<http pattern="/api/**" security="none"/>    
      
    <http auto-config="true" >
        <access-denied-handler error-page="/403page" />  
        
        <intercept-url pattern="/api/**" />
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/corp**" access="hasRole('CORP')" />
        <form-login  login-page='/login'
                     username-parameter="username"
                     password-parameter="password"
                      
                     authentication-success-handler-ref="customAuthenticationSuccessHandler"
					 authentication-failure-url="/failure"
					/>
					
					
        <!-- <csrf/> -->
    </http>
  
    <authentication-manager >
        <authentication-provider user-service-ref="deafultServiceImpl"/>
    </authentication-manager>
      
    <beans:bean id="deafultServiceImpl" class="com.cd.voyager.web.service.impl.DeafultServiceImpl" />
    <beans:bean id="customAuthenticationSuccessHandler" class="com.cd.voyager.web.controller.handler.CustomAuthenticationSuccessHandler" />
      
     
</beans:beans>